<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <style>
       .wrap {
                width: 900px;
                margin: 0 auto;
        }
        ul {
        list-style-type: none;
        padding: 0;
        }
        .aloneMemo_memo-item {
          padding: 5px 5px;
        }
        .aloneMemo_memo-item-comment {
          overflow: hidden;
          color: blue;
          max-height: 300px;
          text-overflow: ellipsis;
          white-space: normal;
          word-break: break-all;
          display: -webkit-box;
          -webkit-line-clamp: 3;  /* 최대 라인수를 지정해줍니다.*/
          -webkit-box-orient: vertical;
        }
    </style>
    <title>나홀로 링크 메모장</title>
  </head>
  <body>
    <div class="wrap">
      <div class="jumbotron">
          <h1 class="display-4">ALONE MEMO</h1>
          <p class="lead">기억해 두고싶은 링크를 저장해 두는 공간입니다.</p>
          <hr class="my-4">
          <p class="lead">
            <!-- onclick 이벤트로 구현 리펙토링 예정 -->
            <button id="postOnOff" class="btn btn-primary" onclick="postOpenClose()">포스팅 하기!</button>
          </p>
      </div>
      <div id="post-box" class="form-post" style="display: none;">
        <form id="form">
          <div>
            url
            <input
              class="form_url form-control"
              name="url"
              type="text"
              placeholder="url을 입력하세요"
            />
          </div>
          <div>
            memo
            <textarea
              class="form_memo form-control"
              name="memo"
              type="text"
              placeholder="메모를 입력하세요"
            ></textarea>
          </div>
          <button class="btn btn-primary" type="submit">저장하기</button>
        </form>
    </div>

    <div class="container">
      <ul class="row rol-cols-3" id="list"></ul>
    </div>

    <script>
      function postOpenClose() {
        const $post = document.querySelector('#post-box')
        if ($post.style.display == 'none') {
          $post.style.display = 'block'
        } else {
          $post.style.display = 'none'
        }
      }

      function getMemo(){
        return fetch("/api/memo") // 기본 매소드는 GET방식.
          .then((response) => response.json()) //실행 결과를 josn 형식으로 변환한다.
      }
      

      function postMemo(data) {
        return etch('/api/memo', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
          // JSON.stringify() : 자바스크립트 값을 jSON문자열로 변환한다.
        }).then((response) => response.json());
      }

      function renderMemo() {
          getMemo().then(({ memos }) => {
            // @app.route('/api/memo', methods=['GET']) 구문의 결과로 나온 memos
            const list = document.querySelector("#list");
            // 각 값을 map을 통해 list.inlineHTML에 적용시킵니다.
            // { title, imgUrl, description, comment, url } 이놈들을~   => 이후 포맷으로 바꿔줍니다
            // con-sm-4 : 12개의 간격중 4개의 구간을 가진다
            list.innerHTML = memos
              .map(
                ({ title, imgUrl, description, comment, url }) => `
            <li class="col-sm-4 aloneMemo_memo-item">
              <div class="card">
                <img class="card-img-top" src="${imgUrl}" />
                <div class="card-body">
                  <a class="card-title" href="${url}">${title}</a>
                  <div class="card-text">${description}</div>
                  <div class="aloneMemo_memo-item-comment">${comment}</div>
                </div>
              </div>
            </li>
            `,
              )
              .join("");
          });
      }

      const $form = document.querySelector("#form");

      form.addEventListener("submit", function (e) {
        e.preventDefault(); //form의 기본 기능인 즉시 새로고침을 하지 못하게 하는 기능
        const url = form.querySelector(".form_url").value;
        const memo = form.querySelector(".form_memo").value;
        postMemo({ url_give : url, comment_give: memo })
          .then((result) => {
            if (result.Success) {
              alert("포스팅 성공");
              renderMemo();
              // 포스팅을 할때마다 다시 랜더 함수를실행하여 바로바로 화면이 바뀌게 합니다.
            }
          })
          .catch((error) => {
            // 기준이 되는 url의 사이트에서 내가 찾는 데이터가 없을경우
            alert("저장에 실패했습니다.");
            // alert() : 브라우저 창에서 나오는 알림창 느낌
          });
      });

      renderMemo();
    </script>
  </body>
</html>
